.controls {
    margin-top: 1em;
    padding: 0.5em;
    overflow: auto;
}
.ai-button {
    font-size: x-large;
    background: #a0aabb;
    border-radius: 3px;
    color: #55576d;
}
#run-button-container {
    float: right;
}
#hint-button-container, #feedback-container {
    float: left;
}
#feedback-container {
    font-size: x-large;
    margin-left: 1em;
    margin-top: 3px;
    font-weight: bold;
}